/*APPLICABLE RULES TO EVERY PAGE*/

@font-face {
  font-family: 'cwmagik';
  src: url("../font/CWMAGIK_.TTF") format("truetype");
}

$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;

.padding-left-4{
  padding-left: 7em;
}