/* GENERAL RULES */
@import "common";

#leWrap{
  background-image: url(../img/wood01.jpg);
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

/* HEADER */
//Sticked button redirecting home
nav{
  font-weight: bold;
}

/* SECTION */

section{
  margin: 7em 5em 2em;
  @media (max-width: $screen-xs-max) {
    margin: 13em 3em 1em;
  }
}

.card{
  margin: 3em 1.5em;
  padding: 1.5em;
  border-radius: 10px;
  background-color: hsla(208, 72%, 60%, 0.62);
  color: white;
  letter-spacing: 1px;
  .card-h{
    text-shadow:
      1px 1px 0 hsla(208, 72%, 29%, 1),
      -1px -1px 0 hsla(208, 72%, 29%, 1),
      1px -1px 0hsla(208, 72%, 29%, 1),
      -1px 1px 0 hsla(208, 72%, 29%, 1),
      1px 1px 0 hsla(208, 72%, 29%, 1);
    a{
      text-decoration: none;
      color: white;
    }
  }
}