//General rules

@font-face {
  font-family: 'cwmagik';
  src: url("../font/CWMAGIK_.TTF") format("truetype");
}

$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;


#leWrap{
  background-image: url(../img/wood01.jpg);
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.padding-left-4{
  padding-left: 7em;
}

/* HEADER */
//Sticked button redirecting home
nav{
  font-weight: bold;
}
.pin{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1031; //bootstrap sets to 1030 its header navbar-fixed-top elements
  width: 12em;
  height: 12em;
  background-color: lightgray;
  -webkit-clip-path: circle(50% at 10% 10%);
  clip-path: circle(50% at 1% 7%);
  .pin-img{
    width: 3em;
    height: 3em;
    margin: 0.6em 0 0 0.6em;
  }
}


/* SECTION */

section{
  margin: 7em 5em 2em;
  @media (max-width: $screen-xs-max) {
    margin: 13em 3em 1em;
  }
}

.card{
  margin: 3em 1.5em;
  padding: 1.5em;
  border-radius: 10px;
  background-color: hsla(208, 72%, 60%, 0.62);
  color: white;
  letter-spacing: 1px;
  .card-h{
    text-shadow:
      1px 1px 0 hsla(208, 72%, 29%, 1),
      -1px -1px 0 hsla(208, 72%, 29%, 1),
      1px -1px 0hsla(208, 72%, 29%, 1),
      -1px 1px 0 hsla(208, 72%, 29%, 1),
      1px 1px 0 hsla(208, 72%, 29%, 1);
    a{
      text-decoration: none;
      color: white;
    }
  }
}